html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    background: rgba(0, 0, 0, 0.05);

}

body {
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 0.5em 0;
}

select,
input {
    font-size: inherit;
    width: 150px;
    color: inherit;
    padding: 3px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.42);
}

#app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

table td:first-child {
    padding-right: 10px;
}